In [17]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12,10)

In [18]:
path1 = '~/Downloads/Data_Challenge/raw_data/MSA1.csv'
path2 = '~/Downloads/Data_Challenge/raw_data/MSA2.csv'

In [19]:
MSA1 = pd.read_csv(path1,
                    header = 4,index_col = 'MarketCode')
MSA2 = pd.read_csv(path2,
                    header = 4,index_col = 'MarketCode')

In [20]:
filtered1 = MSA1[MSA1["Apr-08"] != 'S']
filtered_MSA1 = filtered1[filtered1["Apr-08"] != 'R']
filtered_MSA1.shape[0]

84

In [21]:
filtered2 = MSA2[MSA2["Apr-08"] != 'S']
filtered_MSA2 = filtered2[filtered2["Apr-08"] != 'R']
filtered_MSA2.shape[0]

387

In [22]:
answer1 = "The properties are delivered since April 2008 of the first market is 84. The properties are delivered since April 2008 of the second market is 387."
print(answer1)

The properties are delivered since April 2008 of the first market is 84. The properties are delivered since April 2008 of the second market is 387.

In [23]:
df2 = MSA2.loc[:,'Apr-08':'Oct-18']
df1 = MSA1.loc[:,'Apr-08':'Oct-18']
df2.head()

,Apr-08,May-08,Jun-08,Jul-08,Aug-08,Sep-08,Oct-08,Nov-08,Dec-08,Jan-09,...,Jan-18,Feb-18,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18
MarketCode,,,,,,,,,,,,,,,,,,,,,
12420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,S,S,S,S,S,S,S,S,S
12420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UC/LU,UC/LU,UC/LU,UC/LU,UC/LU,UC/LU,UC/LU,UC/LU,UC/LU,LU
12420,S,S,S,S,S,S,S,S,S,S,...,S,S,S,S,S,S,S,S,S,S
12420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,S,S,S,S,S,S,S,S,S
12420,S,S,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S,S,S,S,S,S,S,S,S,S

In [24]:
numrow1 = df1.shape[0]
numcol1 = df1.shape[1]
total1 = 0
for i in range(numrow1):
    month = 0
    for j in range(numcol1):
        if df1.iloc[i][j] == 'S':
            total1 += month
            month = 0
        else:
            month = month + 1
            
aver1 = total1/numrow1

In [ ]:
numrow2 = df2.shape[0]
numcol2 = df2.shape[1]
total2 = 0
for i in range(numrow2):
    month = 0
    for j in range(numcol2):
        if df2.iloc[i][j] == 'S':
            total2 += month
            month = 0
        else:
            month = month + 1
            
            
aver2 = total2/numrow2

In [ ]:
aver1

In [ ]:
aver2

In [ ]:
answer2 = "The average lease-up time for market1 is 6.15 months. The average lease-up time for market2 is 34.41 months."
print(answer2)

In [ ]:
status2 = MSA2.loc[:,'Status']
status1 = MSA1.loc[:,'Status']
S1 = np.count_nonzero(status1 == 'S')
S2 = np.count_nonzero(status2 == 'S')
LU1 = np.count_nonzero(status1 == 'LU')
LU2 = np.count_nonzero(status2 == 'LU')
R1 = np.count_nonzero(status1 == 'R')
R2 = np.count_nonzero(status2 == 'R')
UCLU1 = np.count_nonzero(status1 == 'UC/LU')
UCLU2 = np.count_nonzero(status2 == 'UC/LU')

In [ ]:
d = {'Market1': [S1, LU1, R1, UCLU1], 'Market2': [S2, LU2, R2, UCLU2]}
dataf = pd.DataFrame(data=d)
dataf.index = ['S', 'LU', 'R', 'UCLU']
dataf

In [ ]:
dataf.plot(kind='bar')
plt.title("Comparison of Property Status for Market1 and Market2")

In [ ]:
answer3 = "After visualizing the property stutus of properties in market1 and market2 with pairwise barplot, I discover that the majority of properties in both markets are stablized. A significant number of properties in market2 is under rehabilitation. Nearly no properties of market1 is under lease up. Another discovery is that the total number of properties in market2 is significantly higher than that of market1."
print(answer3)